.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  width: 100%;
  height: 100%;
  max-width: 1400px;
}

.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

#modal {
  display: none;
  position: fixed;
  left: 350px;
  top:250px;
  z-index: 100;
  border: 1px solid gray;
  background-color: #DFDDDC;
  border-radius: 2px;
  padding: 10px 15px;
  text-align: left;
}

#modal button {
  padding: 2px 8px;
  margin: auto;
  margin-top: 15px;
  border: 1px solid gray;
  border-radius: 3px;
}

/*** ---------------- header --------------- ***/
header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#hamburger-menu {
  width: 30px;
  margin: 25px 15px;
}

.hamburger-bar {
    width: 30px;
    height: 4px;
    background-color: black;
    margin: 5px 0;
}

header h2 {
  width: calc(100% - 60px)
}

/*** --------------- side bar -------------- ***/
.sideBar {
  position: absolute;
  left: 0;
  top: 75px;
  z-index: 50;
  width: 300px;
  height: 100%;
  max-height: calc(100% - 75px);
  background-color: #BF7F3F;
  overflow-y: auto;
}

#filter input{
  width: 70%;
  margin: 15px 15px 3px 15px;
  height: 1.8em;
  font-size: 12px;
  border: 1px solid #b36b00;
  padding-left: 5px;
}

.placesList ul {
  margin: 0;
  padding-left: 1.3em;
}

.placesList li {
  list-style: none;
  text-align: left;
  padding: 5px;
}

.placesList li.clicked {
  background-color: #DFDDDC;
}

li:nth-child(odd) {
  background-color: #BF7F3F;
}

li:nth-child(even) {
  background-color: #C87F3F;
}

#foursquare p {
  height: 20px;
  font-size: 10px;
  margin-top: 20px;
  font-family: Verdana, Geneva, sans-serif;
  text-align: right;
}


/*** ---------- map ------------- ***/
.mapContainer {
  position: absolute;
  left: 5px;
  top: 75px;
  z-index: 10;
  width: 100%;
  height: 100%;
  max-width: 1400px;
  max-height: calc(100% - 75px);
}

#mapContent {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}

#map {
  width: 100%;
  height: 100%;
}

.infowindow {
  text-align: left;
  padding-left: 0;
}

/** --------------- @media setting ---------------- **/
@media screen and (max-width: 442px) {
  header h2 {
    font-size: 18px;
  }
  #hamburger-menu {
    margin: 10px;
  }
  .sideBar {
    top: 55px;
    width: 260px;
    max-height: calc(100% - 49px);
  }
  .mapContainer {
    top: 55px;
    max-height: calc(100% - 49px);
  }
  #filter input {
    margin-top: 10px;
  }
  .placesList ul {
    padding-left: 10px;
  }
  .placesList li {
    font-size: 0.9em;
    padding: 3px;
  }
  #modal {
    left: 100px;
    top: 100px;
    font-size: 12px;
  }
  #modal button {
    padding: 2px 6px;
    margin: auto;
    margin-top: 10px;
    border: 1px solid gray;
    border-radius: 3px;
    font-size: 12px;
  }
}

@media screen and (min-width: 443px) and (max-width: 600px) {
  #modal {
    left: 310px;
  }
}

@media screen and (min-width: 600px) {
}  

@media screen and (min-width: 768px) {
} 